$primary-Color:#3d2514;
$secondary-Color:#ffc045;
$accent-Color:#ffffff;
$button-Color:#bf2222;
$fonts-Family: 'Alfa Slab One', cursive;
$font-Familys:'Bebas Neue', cursive;
$fontss-Family:'Montserrat', sans-serif;
$font-weight:700;